# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.res

*.depend
*.layout


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#backup
*.save

#zip-unzip example
libs/zip-unzip/examples/*
libs/zip-unzip/*.txt
libs/zip-unzip/zip_*.*

#prgData
*/config/*